.content {
  .func {
    width: 90%;
    height: 200rpx;
    background-color:#0cb661;
    margin: 20rpx auto;
    border-radius: 8rpx;
    navigator {
      width: 100%;
      height: 100%;
      display: flex;
      image {
          margin: auto 10rpx;
        width: 28%;
        height: 91%;
      }
      .info_wrap {
          margin: auto 0;
        .name {
            margin-bottom: 30rpx;
          font-size: 32rpx;
        }
        .info {
          font-size: 24rpx;
        }
      }
    }
  }
}
